<% if @post %>
  <title><%= @post.title %> | Triafu</title>
  <meta name="description" content="<%= @post.title %>" />
  <meta name="keywords" content="publicação, post, <%= @post.title %>, engraçado, divertido, interessante, informação, comentário, mídia" />
<% elsif devise_controller? %>
  <title>Triafu | Editar Conta</title>
  <meta name="description" content="Configurações e informações da conta" />
<% elsif @user %>
  <title><%= @user.username %> | Triafu</title>
  <meta name="description" content="Publicações do usuário" />
  <meta name="keywords" content="publicações, autoria, usuário, <%= @user.username %>, engraçado, divertido, informação, interessante, comentário" />
<% else %>
  <title>Triafu | você no holofote</title>
  <meta name="description" content="Abra e acabe com seu tédio! O Triafu é o site de entretenimento mais eficaz que existe no planeta: entre, publique, comente, vote e divirta-se!" />
  <meta name="keywords" content="post, publicação, meme, zoeira, engraçado, divertido, informação, interessante, comentário, mídia, vídeo, imagem, gif, brasil, português, tri, afu, rs" />
<% end %>

<% if Rails.env == "production" %>
  <meta name="robots" content="index,follow" />
<% else %>
  <meta name="robots" content="noindex,nofollow" />
<% end %>

<head itemscope itemtype="http://schema.org/WebSite">
<title itemprop='name'>Triafu</title>
<link rel="canonical" href="https://triafu.com.br/" itemprop="url">

<meta name="google" content="notranslate" />
<meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui, target-densityDpi=device-dpi'/>

<% if !@post %>
  <meta property="og:image" content="<%= asset_path 'brand/triafu-logo.svg' %>">
  <meta name="twitter:image" content="<%= asset_path 'brand/triafu-logo.svg' %>">
<% end %>
