<div class="carousel pt-3 pb-0 pl-2 pr-4">
  <h1>Em alta <i class="fa fa-fire text-danger"></i></h1>

  <% if user_signed_in? %>
    <ul class="featured list-inline">
      <% Post.last(6).each do |post| %>
        <li class="featured-post list-inline-item mr-3">
          <%= link_to post_path(reference_id: post.reference_id), target: "_blank" do %>
            <h2 class="mb-0"><%= post.title %></h2>
            <% if post.image.file %>
              <div class="image" style="background-image: url(<%= asset_path(post.image) %>)"></div>
            <% elsif post.video.file %>
              <div class="image" style="background-image: url(<%= asset_path(post.video.url(:screenshot)) %>)"></div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="featured unsigned list-inline">
        <li class="unsigned-message list-inline-item">
          <div class="message float-left">
            <button class="btn btn-success">Fazer login</button>
            <small>ou</small>
            <button class="btn btn-primary">Criar Conta</button>
            <br>
            <p class="mt-3 font-weight-bold">Para ver as publicações em alta</p>
          </div>
        </li>
      <% Post.last(6).each do |post| %>
        <li class="featured-post list-inline-item mr-3">
          <h2 class="mb-0"><%= post.title %></h2>
          <% if post.image.file %>
            <div class="image" style="background-image: url(<%= asset_path(post.image) %>)"></div>
          <% elsif post.video.file %>
            <div class="image" style="background-image: url(<%= asset_path(post.video.url(:screenshot)) %>)"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>
