<% content_for :head do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:image" content="<%= @post.image %>">
<% end %>

<%= render "layouts/sub_header" %>

<div class="row no-gutters">
  <%= render "partials/devise_communications" %>
  <div class="col-12">
    <%= react_component("PostSection", prerender: true,
    props: { postReferenceId: @post.reference_id, isMobile: true }) %>
  </div>
</div>

<div class="modal slide-right" id="m_comments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog mobile-comments">
    <div class="row">
      <%= react_component("CommentSection", props: { isMobile: true }, html_options: {class: "col-12"}) %>
    </div>
  </div>
</div>
