<div class="row panel-container">
  <div class="col posts">
    <% @posts.each do |post| %>
      <div class="row justify-content-md-center">
        <div class="col col-md-auto">
          <h1 class="c-black text-center"> <%= post.title %></h1>
          <div style="width: 600px; height: 1000px;" class="center black mt-4"></div>
        </div>
        <div class="col col-2 align-self-center pt-5">
          <div class="row no-gutters">
            <div class="col-8">
              <ul class="list-unstyled bg-gray p-3 rounded">
                <li>
                  <%= link_to "Engraçado", post_vote_path(:post_id => post.id, :type => :funny_count) %>
                </li>
                <li>
                  <%= link_to "Interessante", post_vote_path(:post_id => post.id, :type => :smart_count) %>
                </li>
                <li>
                  <%= link_to "Negativo", post_vote_path(:post_id => post.id, :type => :negative_count) %>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <ul class="list-unstyled p-3">
                <li>
                  <%= post[:funny_count] %>
                </li>
                <li>
                  <%= post[:smart_count] %>
                </li>
                <li>
                  <%= post[:negative_count] %>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-4 black c-white">

      <div class="row bb-white comment-top">
        <div class="col">
          <h4 class="text-center">
             <%= @comments.size %> comentários
          </h4>
        </div>
      </div>

      <div class="row panel comment-middle">
          <div class="col-12">
            <!-- <% @comments.each do |comment| %>
            <div class="row">
              <div class="col-2 pr-0 mt-2">
                <div class="float-right white" style="height: 52px; width: 52px;"></div>
              </div>
              <div class="col pt-2">
                <p>Guilherme Zordan</p>
                <%= comment.text %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col text-right c-white">
                <span class="glyphicon glyphicon-arrow-up mr-2"></span>
                <span class="glyphicon glyphicon-arrow-down mr-2"></span>
                <a href="#" class="c-white">responder</a>
              </div>
            </div>
            <% end %> -->
          </div>
      </div>

      <div class="row bt-white comment-bottom">
        <div class="col">
          <%= form_for Comment.new, :html => {:class => 'form-inline'} do |f| %>
          <%= f.text_area :text, placeholder: "escreva um comentário", class: "form-control mr-2" %>
          <%= f.submit "comentar", class: "btn btn-success btn-sm" %>
          <% end%>
        </div>
      </div>


  </div>
</div>
