<meta property="og:type"          content="website" />
<meta property="og:title"         content="<%= @post.title %>" />
<meta property="og:image"         content="<%= @post.image %>" />

<div class="row posts-container">
  <div class="col p-0 posts" id="posts">
    <div class="row m-0">
      <%= render "partials/devise_communications" %>
      <div class="col-12">
        <%= react_component("PostSection", props: { postReferenceId: @post.reference_id }, prerender: true) %>
      </div>
    </div>
  </div>

  <%= react_component("CommentSection", props: { postId: @post.id, userId: @post.user_id }, html_options: {class: "col-xl-3 col-lg-4 bgm-gray"}) %>
</div>
