<header class="row header-mobile no-gutters">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "brand/triafu-triangle.svg", height: 40, width: 40%>
  <% end %>

  <div class="col pt-1 text-right">
    <% if !user_signed_in? %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#m_signup">
        Criar Conta
      </button>

      <a href class="header-link pl-3 pr-3" data-toggle="modal" data-target="#m_login">
        Entrar
      </a>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= react_component("Notification") %>

    <div class="profile-actions">
      <a href class="dropdown-toggle header-link pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag(current_user.image, class: "rounded-circle", height: 35, width: 35) %>
      </a>
      <div class="dropdown-menu dropdown-menu-left">
        <div class="dropdown-header text-center">
          <%= link_to(current_user.username, user_posts_path(username: current_user.username), target: "_blank") %>
        </div>
        <div class="dropdown-divider"></div>
        <%= link_to('Editar perfil', edit_user_registration_path, class: "dropdown-item") %>
        <%= link_to('Sair', destroy_user_session_path, :method => :delete, class: "dropdown-item") %>
      </div>
    </div>
  <% end %>
</header>
