<!DOCTYPE html>
<html>
  <head>
    <title>Triafu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  </head>

  <body>

    <%= render "layouts/header" %>

    <div class="row panel-container">
      <%= yield %>
    </div>

    <%= render "modals/login" %>
    <%= render "modals/signup" %>
    <%= render "modals/signup_form" %>
    <%= render "modals/new_post" %>

    <%= render "partials/google_analytics" %>
  </body>
</html>
