<!DOCTYPE html>
<html>
  <head>
    <title>Triafu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  </head>

  <body>

    <%= render "layouts/header" %>

    <div class="container pb-3 pt-3">

      <div class="row justify-content-center">
        <div class="col-md-8 col-sm">

          <% if devise_error_messages? %>
            <div class="alert alert-danger" role="alert">
              <%= devise_error_messages! %>
            </div>
          <% end %>

          <% if alert %>
            <div class="alert alert-danger" role="alert">
              <%= alert %>
            </div>
          <% end %>

          <% if notice %>
            <div class="alert alert-info" role="alert">
              <%= notice %>
            </div>
          <% end %>

        </div>
      </div>

      <div class="row justify-content-center">
        <%= yield %>
      </div>

    </div>

    <%= render "modals/login" %>
    <%= render "modals/signup" %>
    <%= render "modals/signup_form" %>
    <%= render "modals/new_post" %>
  </body>
</html>
