<div class="modal" id="m_new_post" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">

      <%= form_for Post.new, html: { multipart: true, class: "dropzone"} do |f| %>

        <div class="form-group">
          <%= f.text_field :title, placeholder: "Título", class: "form-control" %>
          <small class="form-text text-muted">Um bom post merece um título criativo e objetivo!</small>
        </div>

        <div class="fallback">
          <%= f.file_field :image%>
        </div>

        <ul class="list-unstyled list-inline float-right">
          <li class="list-inline-item">
            <input type="button" class="btn btn-link" value="Cancelar">
          </li>
          <li class="list-inline-item">
            <%= f.submit "Postar", class: "btn btn-success" %>
          </li>
        </ul>
        <% end %>

      <%= form_for ImageUploader.new, html: { multipart: true, class: "dropzone"} do |f| %>
      <% end %>



    </div>
  </div>
</div>
