<!DOCTYPE html>
<html>
  <head>
    <title>Triafu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="robots" content="noindex,nofollow" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui'/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "modals/post_share_links" %>
    <%= render "modals/image_comment" %>
    <%= render "modals/login" %>
    <%= render "modals/signup" %>
    <%= render "modals/signup_form" %>
    <%= render "modals/new_post" %>

    <%= render "partials/google_analytics" %>
  </body>
</html>
