<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/title_header" %>
    <%= render "partials/favicon_header" %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= content_for?(:head) ? yield(:head) : '' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <script>
        window.userAuthenticated = true;
      </script>
    <% end %>

    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "modals/image_comment" %>
    <%= render "modals/login" %>
    <%= render "modals/signup" %>
    <%= render "modals/signup_form" %>
    <%= render "modals/new_post" %>

    <%= render "partials/google_analytics" %>
  </body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '1029068483890843',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</html>
